body>.pusher
{
	padding-top: 15px;
	padding-bottom: 15px;
}

#content
{
	min-height: 83vh;
}

#content-header::before
{
	width: 0;
}

#user-icon-info
{
	cursor: help;
}

#content>div.container
{
	margin-top: 10px;
}

#headerMenu
{
	background-color: #fdb961;
}

#content
{
	background-color: #fff8ed;
}

#footer
{
	background-color: #c9b08b;
}

.no-display
{
	display: none;
}